.historical-data {
  flex-grow: 1;
  padding: 2rem;
}

.temperature {
  text-align: right;
}

.table {
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
}

.time,
.temperature {
  padding: 1rem;
}

.tr:nth-child(even) {
  background-color: var(--dark-color);
}
