*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #353536;
  --dark-color: rgb(35, 35, 36);
  --secondary-color: #9dc334;
  --accent-primary-color: #6dc5c0;
  --accent-secondary-color: #fe836c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 62.5%;
}

body {
  background-color: var(--primary-color);
  color: white;
  max-width: 120rem;
  margin: 0 auto;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  background-color: var(--dark-color);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.glass {
  /* From https://css.glass */
  background: rgba(35, 35, 36, 0.72);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(35, 35, 36, 0.5);
}
